a {
  color: #00B7FF;
}

#editor {
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    pointer-events: none;
}

.content {
  overflow:auto;
}

.toggleSelectButton {
  position: absolute;
  right: 0;
  height: 60px;
  background: #00B7FF;
  color: black;
}
